<div class="app_promotion-sec">
    <img class="app-bg" src="images/app-bg.png" alt="app-bg" />
    <div class="container flex flex-wrap items-center">
        <div class="w-full app_promotion-content">
            <h3>DOWNLOAD THE APP</h3>
            <p>With the official Favorite app, find your nearest Favorite Chicken & Ribs store and order online* for
                collection or delivery.</p>
            <p>"Britain's Tastiest Chicken!" in just a few clicks!</p>
            <p>*At participating stores.</p>
            <div class="get-app-link">
                <ul>
                    <li><a href="#" class="">
                        <img src="images/play-store.svg" alt="play store"/>
                    </a></li>
                    <li><a href="#" class="">
                        <img src="images/app-store.svg" alt="play store"/>
                    </a></li>
                </ul>
            </div>
            
        </div>

        <div class="phone-img">
            <img src="images/phone.png" alt="" />
        </div>

    </div>
</div>