<div class="breadcrumb">
    <div class="container">
        <ul>
            <li>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.668" height="18.155" viewBox="0 0 19.668 18.155">
                        <path d="M10.94,22.655V16.6h4.539v6.052h4.614V13.577h2.95L13.209,4.5,3.375,13.577h2.95v9.077Z"
                            transform="translate(-3.375 -4.5)" fill="#10106a" />
                    </svg>

                </a>
            </li>
            <li><a href="#">Store Locator</a></li>
            <li><a href="#">United Kingdom</a></li>
            <li><a href="#">London</a></li>
            <li>Favorite Chicken & Ribs</li>
        </ul>
    </div>
</div>