<div class="faq-sec bg-light">
    <div class="container">
        <div class="heading text-center">
            <h3 class="sec_heading">FAVORITE QUESTIONS WE'RE ASKED MOST</h3>
            <p>We’re happy to answer your questions!</p>
        </div>
        <div class="faq-blocks">
            <div class="left-faq">
                <div class="faq-block">
                    <h4 class="faq-title">Where is my nearest store?</h4>
                    <div class="faq-content">
                        <p>You can use our Store Finder to locate your nearest store. https://favorite.co.uk/store-finder Simply type in your postcode or town and your nearest stores will be shown with address, telephone number, opening hours and if Favorite Online is available you can order direct.</p>
                    </div>
                </div>
                <div class="faq-block">
                    <h4 class="faq-title">How can I order online?</h4>
                    <div class="faq-content">
                        <p>Several of our Favorite stores offer online ordering through our website. If you search for your nearest store and see a blue box with ‘ORDER ONLINE’ you can order direct for delivery or Click & Collect.</p>
                        <p>If a store does not offer Favorite delivery you may still be able to order your delivery through our partners – JustEat, UberEats or Deliveroo. Their delivery radius varies so please check online or through your app.</p>
                    </div>
                </div>
                <div class="faq-block">
                    <h4 class="faq-title">Where can I find information regarding allergens?</h4>
                    <div class="faq-content">
                        <p>There are 14 major allergens which all food businesses have to mention when used as ingredients. Please click here to view them all. https://favorite.co.uk/our-food/allergens You can click into each menu item to view the allergen information.</p>
                    </div>
                </div>
                <div class="faq-block">
                    <h4 class="faq-title">How can I change my delivery address?</h4>
                    <div class="faq-content">
                        <p>You can change or amend your delivery address up until when you place your order.</p>
                    </div>
                </div>
            </div>
            <div class="right-faq">
                <div class="faq-block">
                    <h4 class="faq-title">What time do you deliver until?</h4>
                    <div class="faq-content">
                        <p>Delivery hours vary between stores so please check via our Store Finder. https://favorite.co.uk/store-finder</p>
                    </div>
                </div>
                <div class="faq-block">
                    <h4 class="faq-title">Why was my order cancelled?</h4>
                    <div class="faq-content">
                        <p>If there is a problem with payment or the store is unable to deliver for any reason, then your order may be cancelled. Any payment taken will be refunded within 72 working hours. For any queries, please email feedback@favorite.co.uk</p>
                    </div>
                </div>
                <div class="faq-block">
                    <h4 class="faq-title">What do I do if I have a problem with my order?</h4>
                    <div class="faq-content">
                        <p>Firstly, if you ordered a delivery you will need to contact the platform you ordered through. If this was JustEat, UberEats or Deliveroo, please log into your account and raise an issue with them.</p>
                        <p>If you ordered via our Favorite website or visited a store, firstly, please call the store to rectify your issue. You can contact us with feedback via email at feedback@favorite.co.uk</p>
                    </div>
                </div>
                <div class="faq-block">
                    <h4 class="faq-title">Why does my chicken look pink?</h4>
                    <div class="faq-content">
                        <p>Please note that our Spicy Crunchy Wings, Spicy BBQ Wings and our Fillet of Fire® Burgers are marinaded prior to cooking in order to give them their unique flavour. This may sometimes cause them to appear pink in colour when cooked.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>