<div class="food-list bg-light">
    <div class="container">
        <div class="w-full text-center">
            <h3 class="sec_heading">Our Favourite "Favorites"</h3>
        </div>
        <div id="favorite-food" class="splide -mx-[15px]">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide"><div class="slide-img"><img src="images/ffc-family-boneless_2018.png" class="block" alt="FAMILY BONELESS SAMPLER" /><h4>FAMILY BONELESS SAMPLER</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/ffc_3pc-chkn-meal2018.png" class="block" alt="FAVORITE CHICKEN MEAL" /><h4>FAVORITE CHICKEN MEAL</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/dr-plus-meal-scw.png" class="block" alt="DOUBLE RINGER PLUS MEAL" /><h4>DOUBLE RINGER PLUS MEAL</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/ffc_poppas-lrg-meal.png" class="block" alt="CHICKEN POPPAS MEAL" /><h4>CHICKEN POPPAS MEAL</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/ffc_rappa-lo-meal.png" class="block" alt="RAPPA MEAL" /><h4>RAPPA MEAL</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/ffc_fish-meal-2018.png" class="block" alt="FISHWICH MEAL" /><h4>FISHWICH MEAL</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/chkn-poppas-lg_2.png" class="block" alt="CHICKEN POPPAS" /><h4>CHICKEN POPPAS</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/b-j_menu-image-for-web-870.jpg" class="block" alt="ICE CREAM" /><h4>ICE CREAM</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/kitkat-muffin-nestle-dawn-foods3.jpg-416x416.jpg" class="block" alt="KITKAT® MUFFIN" /><h4>KITKAT® MUFFIN</h4></div></li>
                </ul>
            </div>
        </div>
    </div>
</div> 