<div class="food-list">
    <div class="container">
        <div class="w-full text-center">
            <h3 class="sec_heading">OUR FOOD</h3>
        </div>
        <div id="food-list" class="splide -mx-[15px]">
            <div class="splide__track">
                <ul class="splide__list px-[5px]">
                    <li class="splide__slide"><div class="slide-img"><img src="images/food-category-1.png" class="block" alt="Food" /><h4>FAMILY & SHARING MEALS</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/food-category-2.png" class="block" alt="Food" /><h4>CHICKEN MEALS</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/food-category-3.png" class="block" alt="Food" /><h4>CHICKEN BURGER MEALS</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/food-category-4.png" class="block" alt="Food" /><h4>BONELESS CHICKEN MEALS</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/food-category-6.png" class="block" alt="Food" /><h4>FISH & VEGE MEALS</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/food-category-7.png" class="block" alt="Food" /><h4>CHUCKIE'S KIDS CHOICE</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/food-category-8.jpg" class="block" alt="Food" /><h4>STARTERS, SNACKS & SIDES</h4></div></li>
                    <li class="splide__slide"><div class="slide-img"><img src="images/food-category-9.png" class="block" alt="Food" /><h4>SWEET TREATS</h4></div></li>
                </ul>
            </div>
        </div>
    </div>
</div> 