<div class="hero">
    <img class="hero-img" src="images/hero.jpg" alt="banner" />
    <div class="container text-center">
        <h1>FAVORITE CHICKEN & RIBS</h1>
        <p>Favorite is a family business, as are the majority of our franchise stores</p>
        <div class="cta_btn">
            <a href="#" class="button">Primary CTA</a>
        </div>
    </div>
</div>